.functions {
  width: 100%;
  padding-top: 112px;
  padding-bottom: 40px;
  background-image: url('../img/bg/functions_bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #f1f3fb;

  &__wrapper {
    max-width: 1160px; // 1520
    margin: 0 auto;
    padding-left: 180px;
    padding-right: 180px;
  }

  &__title {
    margin: 0;
    font-size: 36px;
    text-align: center;
    color: #60759d;
  }

  &__items {
    margin-top: 55px;
    text-align: center;
  }

  &__item {
    display: inline-block;
    width: 200px;
    margin: 0;
    margin-bottom: 80px;
    padding-left: 22px;
    padding-right: 22px;
    vertical-align: top;
    text-align: center;

    &:nth-child(3n+3) {
      margin-right: 0;
    }
  }

  &__ico {
  }

  &__caption {
    margin: 0;
    margin-top: 25px;
    font-size: 16px;
    color: #60759d;
  }
}
